.guaca-editor {
	display: inline-block !important;
	width: 100%;
}

.guaca-airpopup {
	padding: 5px;
	height: 25px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
	position: fixed;
	display: none;
}

.guaca-airpopup button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

.guaca-airpopup button:before {
	font-size: 16px;
	font: normal normal normal 16px/normal FontAwesome;
	-webkit-font-smoothing: antialiased;
	text-rendering: auto;
	color: rgba(255,255,255,0.8);
	padding: 5px;
	cursor: pointer;
}

.guaca-airpopup button:hover:before,
.guaca-airpopup button.control-active:before {
	color: #FEBB0C;
}

.guaca-airpopup button.bold:before {
	content: "\f032";
}

.guaca-airpopup button.italic:before {
	content: "\f033";
}

.guaca-airpopup button.divider:before {
	border-right: 1px rgba(255, 255, 255, 0.7) solid;
	content: "";
	margin-right: 7px;
}

.guaca-airpopup span.container {
	display: inline-block;
	width: 80px;
	color: rgba(255,255,255,0.8);
}

.guaca-airpopup span.container:before {
	content: "Heading \25be";
}

.guaca-airpopup span.container:hover > button  {
	display: list-item;
}

.guaca-airpopup span.container > button {
	padding: 4px;
	width: 80px;
	display: none;
	list-style: none;
	float: left;
	background: rgba(0, 0, 0, 0.8);
	border-top: 1px #000 solid;
}

.guaca-airpopup span.container > span:first-child{
	margin-top: 5px;
}

.guaca-airpopup button.small-heading:before {
	content: "Small";
}

.guaca-airpopup button.medium-heading:before {
	content: "Medium";
}

.guaca-airpopup button.large-heading:before {
	content: "Large";
}

.guaca-airpopup button.paragraph:before {
	content: "\f1dd";
}

.guaca-airpopup button.ol:before {
	content: "\f0cb";
}

.guaca-airpopup button.ul:before {
	content: "\f0ca";
}

.guaca-airpopup button.code:before {
	content: "\f121";
}
